.nav-icon {
    display: none !important;
}

.header {
    background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url("/images/PublicImages/image-2.jpg");
    opacity: var(--mainOpacity);
    height: 25em !important;
}