
.home-img {
    background-repeat: no-repeat;
    background-position: top left;

}

.left-img {
    background-image: url("/images/PublicImages/image-4.jpg");
}
.right-img {
    background-image: url("/images/PublicImages/image-1.jpg");
}

.library-img {
    background-image: url("/images/PublicImages/image-3.jpg");
}
